#header{height: 100px; background-color: lightblue;}

#nav{height: 300px; width: 30%; background-color: lightpink;}

#main{height: 300px; width: 70%; background-color: lightgreen;}

#footer{height: 100px; background-color: lightcoral;}