#character{width: 84px; height: 76px; background: url(ImageSprite.png) no-repeat;}

#character:hover{cursor: pointer; background-position: -84px 0;}

#character:active{cursor: pointer; background-position: 0 -76px;}