ul.menu{
    list-style-type: none;
    padding: 0;
    width: 100%;
    outline: 1px solid red;
    height: 2rem;
}

ul.menu>li{
    width: 25%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    outline: 1px solid navy;
}